body { font-family: sans-serif; margin: 0; }
a { text-decoration: none; font-weight: bold; }

h1 { text-align: center; }
h2 { text-align: center; padding: 40px 0 10px 0; }
h3 { padding: 30px 0 10px 0; }

ul { padding: 0; margin: 16px 0; }
.ul-list { padding: 10px 10px 10px 50px; }

.container { max-width: 950px; margin: auto; padding: 20px; margin-top: 30px; margin-bottom: 30px; border: 0px dashed; }

a:link { background-color: transparent; text-decoration: none; }
a:visited { color: #0000FF; text-decoration: none; }
a:hover { color: #FFF; background-color: #0000FF; text-decoration: none; }

#nav-header a { margin: 5px 0 0px 0; font-weight: normal; display: inline-block; padding: 5px 10px; background-color: darkblue; color: #ffffff; text-decoration: none; border-radius: 5px; text-align: center; }
#nav-header a:hover { background-color: blue; }

#nav-header .sale-btn a { background-color: limegreen; }
#nav-header .sale-btn a:hover { background-color: lime; }

.header-link { margin-top: 60px; font-size: 40px; }

.com-text-display { height: 2825px; width: 500px; }
.net-text-display { height: 1325px; width: 500px; }

.wordwrapper { word-wrap: break-word; }

#nav-header { position: sticky; top: 0; background: #f0f0f0; border: 1px solid; text-align: center; }
#nav-header li { display: inline; padding: 10px 0px; }

#cc-table { border-collapse: collapse; width: 100%; margin: 30px 0; }
td, th { border: 1px solid #dddddd; text-align: left; padding: 8px; border: 1px dashed; }
th { background-color: #f0f0f0; }

.sm-a { position: relative; font-size: 75%; }

footer { padding: 30px 0 0 0; text-align: center; }

@media screen and (max-width: 768px) {
  .com-text-display, .net-text-display { width: 300px; }
  .com-text-display { height: 3050px; }
  .net-text-display { height: 1500px; }
  .header-logo { max-width: 75vw; }
  .ul-list { padding: 10px 10px 10px 30px; }
  .header-link { font-size: 7vmin; }
  .container { border: none; }
  ul { margin: 10px 0; }
}
